{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load main_widgets %}

{% block content %}
<div class="span9">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for item in slider_items %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{ item.image.url }}" alt="{{ item.description }}" />
                <div class="carousel-caption">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="span7 popular_products">
        <h4>{% trans "Popular products" %}</h4><br />
        <ul class="thumbnails">
            {% for product in popular_products%}
                <li class="span2">
                    <div class="thumbnail">
                        <a href="{% url 'catalog:product_detail' product.slug %}"><img alt="{{ product.title }}" src="{{ product.get_main_image }}" style="width:150px;" /></a>
                        <div class="caption">
                            <a href="{% url 'catalog:product_detail' product.slug %}"> <h5>{{ product.title }}</h5></a>  {% trans "Price" %}: &#36;{{ product.price|floatformat:2|intcomma }}<br /><br />
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="span2">
        <div class="roe">
            <h4>{% trans "Newsletter" %}</h4><br />
            <p>{% chunk 'NeswletterDescription' %}</p>
            <form class="form-search" />
                <input type="text" class="span2" placeholder="Enter your email" /><br /><br />
                <button type="submit" class="btn pull-right">Subscribe</button>
            </form>
        </div>
        <br /><br />
        <a href="#"><img alt="" title="" src="css/images/paypal_mc_visa_amex_disc_150x139.gif" /></a>
        <a href="#"><img alt="" src="css/images/bnr_nowAccepting_150x60.gif" /></a>

    </div>
</div>
{% endblock %}
