{% load i18n %}
{% load mptt_tags %}
<div class="span3">
<!-- start sidebar -->
    <ul class="breadcrumb">
        <li>{% trans "Categories" %}</li>
    </ul>
    <div class="span3 product_list">
        <ul class="nav">
            {% recursetree categories %}
            <li>
                <a class="active" href="{% url 'catalog:product_list' node.slug %}">{% if node.is_child_node %}-{% endif %}{{ node.title }} ({{ node.product_count }})</a>
                <ul>
                    {% if not node.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                </ul>
            </li>
            {% endrecursetree %}
        </ul>
    </div>
<!-- end sidebar -->
</div>
