{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}
<div class="span9">
             <ul class="breadcrumb">
    <li>
    <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
    <a href="listings.html">Desktops</a> <span class="divider">/</span>
    </li>
    <li class="active">
    <a href="category.html">Mac</a>
    </li>
    </ul>
    {% if products %}
    {% for product in products %}
        <div class="row">
            <div class="span1">
                <a href="{% url 'catalog:product_detail' product.slug %}"><img alt="{{ product.title }}" src="{{ product.get_main_image }}" /></a>
            </div>

            <div class="span6">
                <a href="{% url 'catalog:product_detail' product.slug %}"><h5>{{ product.title }}</h5></a>
                <p>{{ product.short_description }}</p>
            </div>

            <div class="span1">
                <p>${{ product.price|floatformat:2|intcomma }}</p>
            </div>

            <div class="span2">
               <p><a class="btn btn-primary" onclick="add_to_cart('catalog', 'product', {{ product.id }}); return false;" href="#">{% trans "Add to cart" %}</a></p>
               <p><a class="" href="#">{% trans "Add to Wish List" %}</a></p>
                <p><a class="" href="compare.html">Add to Compare</a></p>
            </div>
        </div>
        <hr />
    {% endfor %}


    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">{% trans "Prev" %}</a></li>
                {% else %}
                    <li><a href="#">Prev</a></li>
                {% endif %}
                          {% for num_page in page_obj.paginator.page_range %}
                              <li><a href="?page={{ num_page }}" {% if num_page == page_obj.number %}class="active"{% endif %}>{{ num_page }}</a></li>
                          {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
                {% else %}
                    <li><a href="#">Next</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {% else %}
        <p style="text-align: center;">{% trans "Товары в даной категории пока отсуствуют." %}</p>
    {% endif %}

</div>

<script>
function add_to_cart(app_label, model, id) {
    $("#cart").add_to_cart({
        "app_label":app_label,
        "model":model,
        "id":id
    });
};
</script>

{% endblock %}
