{% load staticfiles %}
{% load i18n %}
{% load main_widgets %}
{% load mptt_tags %}
{% load catalog_widgets %}
{% load search_widgets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title%}Bootstrap Shopping Cart{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{% block keywords%}{% endblock %}">
    <meta name="description" content="{% block description%}{% endblock %}" />

    <!-- Le styles -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "bootstrap/css/united/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/main.css" %}" rel="stylesheet" />
    <link href="{% static "css/jquery.rating.css" %}" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {% block header %}
    <div class="row"><!-- start header -->
        <div class="span4 logo">
            <a href="{% url 'main:main_page' %}">
                <h1>Bootstrap Cart</h1>
            </a>
            <br>
            <strong>{% trans "Language" %}:</strong>
            {% get_language_info_list for LANGUAGES as languages %}
            {% get_current_language as LANGUAGE_CODE %}
            {% for language in languages %}
                {% if LANGUAGE_CODE = language.code %}
                    <a href="/lang/{{ language.code }}"><strong>{{ language.code|upper }}</strong></a>
                {% else %}
                        <a href="/lang/{{ language.code }}">{{ language.code|upper }}</a>
                {% endif%}
                {% if not forloop.last %}|{% endif %}
            {% endfor %}
        </div>
        <div class="span8">
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span2">
                    <h4>Currency</h4>
                    <a href="#">USD</a> |
                    <a href="#"><strong>GBP</strong></a> |
                    <a href="#">EUR</a>
                </div>
                <div class="span2" id="cart">
                    <a href="cart.html"><h4>Shopping Cart (0)</h4></a>
                    <a href="cart.html">2 item(s) - $40.00</a>
                </div>
                <div class="span3 customer_service">
                    <h4>FREE delivery on ALL orders</h4>
                    <h4><small>Customer service: {% chunk 'HeaderPhone' %}</small></h4>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="links pull-right">
                    {% navigation_menu_tag 'HeaderMenuNavigation' as HeaderMenuNavigation  %}
                    {% for item in HeaderMenuNavigation.get_childrens %}
                        <a href="{{ item.slug }}" {% if item.is_blank %}target="_blank"{% endif %}>{{ item.title }}</a>
                        {% if not forloop.last %}|{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!-- end header -->
    {% endblock %}

    {% category_list_tag as categories %}
    {% block top_nav %}
        <div class="row"><!-- start nav -->
            <div class="span12">
              <div class="navbar">
                    <div class="navbar-inner">
                      <div class="container" style="width: auto;">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                          <span class="icon-bar"></span>

                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse">


                          <ul class="nav">
                              <li class="dropdown">
                              <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">Desktops <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="listings.html">PC</a></li>
                                <li><a href="listings.html">Mac</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Accessories</li>
                                <li><a href="listings.html">Keyboard</a></li>
                                <li><a href="listings.html">Speakers</a></li>
                              </ul>
                            </li>

                          </ul>

                          <ul class="nav pull-right">
                           <li class="divider-vertical"></li>
                            {% search_form_tag %}
                          </ul>
                        </div><!-- /.nav-collapse -->
                      </div>
                    </div><!-- /navbar-inner -->
                </div><!-- /navbar -->
            </div>
        </div><!-- end nav -->
        {% endblock %}

        <div class="row">
            {% block left_menu %}
                {% include 'main/inclusion/category_list.html' with categories=categories %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>

      {% block footer %}
      <footer>
    <hr />
    <div class="row well no_margin_left">

    <div class="span3">
        <h4>{% chunk 'BottomFirstMenuTitle' %}</h4>
        {% navigation_menu_tag 'BottomFirstMenu' as BottomFirstMenu  %}
        <ul>
            {% for item in BottomFirstMenu.get_childrens %}
                <li><a href="{{ item.slug }}" {% if item.is_blank %}target="_blank"{% endif %}>{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span3">
        <h4>{% chunk 'BottomSecondMenuTitle' %}</h4>
        {% navigation_menu_tag 'BottomSecondMenu' as BottomSecondMenu  %}
        <ul>
            {% for item in BottomSecondMenu.get_childrens %}
                <li><a href="{{ item.slug }}" {% if item.is_blank %}target="_blank"{% endif %}>{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span3">
        <h4>Extras</h4>
        <ul>
            <li><a href="typography.html">Brands</a></li>
            <li><a href="typography.html">Gift Vouchers</a></li>
            <li><a href="typography.html">Affiliates</a></li>
            <li><a href="typography.html">Specials</a></li>
        </ul>
    </div>
    <div class="span2">
        <h4>My Account</h4>
        <ul>
            <li><a href="my_account.html">My Account</a></li>
            <li><a href="typography.html">Order History</a></li>
            <li><a href="typography.html">Wish List</a></li>
            <li><a href="typography.html">Newsletter</a></li>
        </ul>
    </div>

</div></footer>
{% endblock %}

 <!-- /container -->

{% block bottom_js %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "js/jquery.rating.pack.js" %}"></script>
<script src="{% static "js/cart.js" %}"></script>
<script>
    $("#cart").cart({
        get_cart_url: '{% url 'cart:cart_get' %}',
        add_cart_url: '{% url 'cart:cart_add' %}',
        delete_cart_url: '{% url 'cart:cart_delete' %}',
        loader_template: function () {
            $("#cart").html('<div>Загрузка...</div>');
        },
        cart_template: function(data) {
            $("#cart").html('<a href="{% url 'cart:cart_show' %}">'+
                            '<h4>{% trans "Корзина" %} ('+data['quantity']+')</h4></a>'+
                            '<a href="{% url 'cart:cart_show' %}">'+data['quantity']+' item(s) - $'+parseFloat(data['total_price']).toFixed(2)+'</a>')
        },
    });
</script>
</div>
{% endblock %}
</body>
</html>
