{% extends "base.html" %}
{% load i18n %}

{% block left_menu %}
{% endblock %}
{% block content %}
<div class="span12">
    <div class="page-header">
        <h1>{% trans "Личный кабинет" %} <small class="pull-right"><a href="{% url 'accounts:logout' %}">{% trans "Выйти" %}</a></small></h1>
    </div>
</div>
{% endblock %}
