{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block left_menu %}
{% endblock %}
{% block content %}
<div class="span12">
        <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Account</a> <span class="divider">/</span></li>
            <li class="active"><a href="#">Login</a></li>
        </ul>

        <div class="row">
            <div class="span9">
                <h1>Account login</h1>
            </div>
        </div>

        <hr />

        <div class="row">

            <div class="span5 well">
                <h2>New Customers</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p><br />
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary pull-right">Create an account</a>
            </div>

            <div class="span5 well pull-right">
                <h2>Registered Customers</h2>
                <p>If you have an account with us, please log in.</p>
                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        {% for error in form.non_field_errors %}
                            {{ error }}<br />
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'accounts:signin' %}">{% csrf_token %}
                    <fieldset>
                        {% for field in form %}
                        <div class="control-group {% if field.errors %}error{% endif %}">
                            <label class="control-label">
                                {{ field.label }}
                                {% if field.errors %}
                                (
                                {% for error in field.errors %}
                                    <strong>{{ error|escape }}</strong>
                                {% endfor %}
                                )
                                {% endif %}
                            </label>
                            <div class="controls">
                            {{ field|add_class:'input-xlarge' }}
                            </div>
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary pull-right" type="submit">{% trans "Войти" %}</button>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>

{% endblock %}
