{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block left_menu %}
{% endblock %}
{% block content %}
<div class="span12">
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Account</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Register</a></li>
    </ul>
</div>

<div class="span12">
    <h1>{% trans "Создать аккаунт" %}</h1>
    <br />

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            {% for error in form.non_field_errors %}
                {{ error }}<br />
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'accounts:signup' %}" class="form-horizontal" />{% csrf_token %}
        <fieldset>
            <div class="span6 no_margin_left">
                <legend>{% trans "Your Personal Details" %}</legend>
                    <div class="control-group {% if form.first_name.errors %}error{% endif %}">
                        <label class="control-label">{{ form.first_name.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.first_name|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if form.last_name.errors %}error{% endif %}">
                        <label class="control-label">{{ form.last_name.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.last_name|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if form.email.errors %}error{% endif %}">
                        <label class="control-label">{{ form.email.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.email|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if form.phone.errors %}error{% endif %}">
                        <label class="control-label">{{ form.phone.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.phone|add_class:'span4' }}
                        </div>
                    </div>
            </div>
            <div class="span6">
                <legend>{% trans "Your Address" %} </legend>
                <div class="control-group {% if form.address1.errors %}error{% endif %}">
                    <label class="control-label">{{ form.address1.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ form.address1|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if form.address2.errors %}error{% endif %}">
                    <label class="control-label">{{ form.address2.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ form.address2|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if form.city.errors %}error{% endif %}">
                    <label class="control-label">{{ form.city.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ form.city|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if form.zip_address.errors %}error{% endif %}">
                    <label class="control-label">{{ form.zip_address.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ form.zip_address|add_class:'span4' }}
                    </div>
                </div>

                <div class="control-group {% if form.country.errors %}error{% endif %}">
                    <label class="control-label" for="">{{ form.country.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ form.country|add_class:'span4' }}
                    </div>
                </div>
            </div>

            <div class="span12 no_margin_left">
                <legend>{% trans "Your login" %} </legend>
                <div class="span6 no_margin_left">
                    <div class="control-group {% if form.username.errors %}error{% endif %}">
                        <label class="control-label">{{ form.username.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.username|add_class:'span4' }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group {% if form.password1.errors %}error{% endif %}">
                        <label class="control-label">{{ form.password1.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.password1|add_class:'span4' }}
                        </div>
                    </div>
                    <div class="control-group {% if form.password2.errors %}error{% endif %}">
                        <label class="control-label">{{ form.password2.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ form.password2|add_class:'span4' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" span12 no_margin_left">
                <hr />
                <div class="span8">
                    {{ form.privace_policy|add_error_class:"error" }} {{ form.privace_policy.label }}<br />
                    {{ form.subscribe|add_error_class:"error" }} {{ form.subscribe.label }}
                </div>
                <div class="span3">
                    <button class="btn btn-primary btn-large pull-right" type="submit">Register</button>
                </div>
                <hr />
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
