{% load widget_tweaks %}
{% load i18n %}
<form class="navbar-search" action="{% url 'search:search' %}" method="GET" >{% csrf_token %}
    {% render_field form.search class+="search-query span2" placeholder=form.search.label %}
    <button class="btn btn-primary btn-small search_btn" type="submit">{% trans "Искать" %}</button>
</form>
