{% extends "base.html" %}

{% block content %}
<div class="span9">
             <ul class="breadcrumb">
    <li>
    <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
    <a href="#">Audio</a> <span class="divider">/</span>
    </li>
    <li class="active">
    <a href="#">MP3 players</a>
    </li>
    </ul>


     <div class="row">
         <div class="span9">
            <h1>{{ object.title }}</h1>
         </div>
    </div>
    <hr />
    <div class="row">
        <div class="span3">
            <img alt="" src="{{ object.get_main_image }}" />
            <ul class="thumbnails">
                {% for item in object.get_images %}
                <li class="span1">
                    <a href="#" class="thumbnail">
                        <img src="{{ item.image.url }}" alt="" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

      <div class="span6">

        <div class="span6">
            <address>
                {% for item in object.get_features %}
                <strong>{{ item.title }}:</strong> <span>{{ item.description }}</span><br />
                {% endfor %}
            </address>
        </div>

        <div class="span6">
            <h2>
                <strong>Price: ${{ object.price }}</strong> <small>Ex Tax: $500.00</small><br /><br />
            </h2>
        </div>

        <div class="span6">
            <form class="form-inline" />
                <div class="span3 no_margin_left">
                    <label>Qty:</label>
                    <input type="text" class="span1" placeholder="1" />
                    <button class="btn btn-primary" type="submit">Add to cart</button>
                </div>
                <div class="span1">
                - OR -
                </div>
                <div class="span2">
                    <p><a href="#">Add to Wish List</a></p>
                    <p><a href="compare.html">Add to Compare</a></p>
                </div>
            </form>
        </div>

        <div class="span6">

            <p>
            <input name="star1" type="radio" class="star" />
<input name="star1" type="radio" class="star" />
<input name="star1" type="radio" class="star" />
<input name="star1" type="radio" class="star" />
<input name="star1" type="radio" class="star" />&nbsp;&nbsp;

            <a href="#">0 reviews</a>  |  <a href="#">Write a review</a></p>
        </div>


      </div>


  </div>
   <hr />
        <div class="row">
      <div class="span9">
    <div class="tabbable">
    <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
    <li><a href="#2" data-toggle="tab">Reviews</a></li>
    <li><a href="#3" data-toggle="tab">Related products</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="1">
    <p>{{ object.description }}</p>
    </div>
    <div class="tab-pane" id="2">
        <p>There are no reviews for this product.</p>
    </div>
    <div class="tab-pane" id="3">
        <ul class="thumbnails related_products">

       <li class="span2">
          <div class="thumbnail">
            <a href="product.html"><img alt="" src="http://placehold.it/220x180" /></a>
            <div class="caption">
              <a href="product.html"> <h5>iPod Touch</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>

       <li class="span2">
          <div class="thumbnail">
            <a href="product.html"><img alt="" src="http://placehold.it/220x180" /></a>
            <div class="caption">
              <a href="product.html"> <h5>iPod Touch</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>

       <li class="span2">
          <div class="thumbnail">
            <a href="product.html"><img alt="" src="http://placehold.it/220x180" /></a>
            <div class="caption">
              <a href="product.html"> <h5>iPod Touch</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>

       <li class="span2">
          <div class="thumbnail">
            <a href="product.html"><img alt="" src="http://placehold.it/220x180" /></a>
            <div class="caption">
              <a href="product.html"> <h5>iPod Touch</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>


      </ul>
    </div>
    </div>
    </div>

        </div>
        </div>



        </div>
{% endblock %}
