{% extends "base.html" %}
{% load i18n %}
{% load humanize %}


{% block left_menu %}
{% endblock %}
{% block content %}
<div class="span12">


    <h1> Shopping Cart</h1><br />
        {% if cart_items %}
        <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <th>{% trans "Удалить" %}</th>
                <th>{% trans "Изображение" %}</th>
                <th>{% trans "Название" %}</th>
                <th>{% trans "Категория" %}</th>
                <th>{% trans "Количество" %}</th>
                <th>{% trans "Цена" %}</th>
                <th>{% trans "Сумма" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
              <tr>
                <td class=""><input type="checkbox" value="{{ item.product.title }}{{ item.product.id }}" onclick="delete_from_cart('catalog', 'product', {{ item.product.id }});" /></td>
                <td class="muted center_text"><a href="product.html"><img src="{{ item.product.get_main_image }}" width="96" /></a></td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.category }}</td>
                <td><input type="text" class="input-mini" value="{{ item.quantity }}" /></td>
                <td>{{ item.product.price|floatformat:2|intcomma }}</td>
                <td>$2,350.00</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <form class="form-horizontal" />
        <fieldset>


                    <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">

                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <h3>Apply discount code</h3>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
          <div class="control-group">
            <label for="input01" class="control-label">Discount code: </label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge" placeholder="Enter your coupon here" />
              <p class="help-block">You can only use one discount code at a time</p>
            </div>
          </div>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <h3>Use gift voucher</h3>
                </a>
              </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
          <div class="control-group">
            <label for="input01" class="control-label">Gift voucher: </label>
            <div class="controls">
              <input type="text" id="input01" class="input-xlarge" placeholder="Enter your gift voucher here" />
              <p class="help-block">You can use multiple gift vouchers at a time</p>
            </div>
          </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
          <div class="span5">
            <button class="btn btn-primary" type="submit">{% trans "Продолжить покупки" %}</button>
            </div>
            <div class="span7">
            <a href="{% url 'order:checkout' %}" class="btn btn-primary pull-right">{% trans "Заказать" %}</a>
            </div>
          </div>
        </fieldset>
        </form>
        {% else %}
          <p class="lead">{% trans "Ваша корзина пуста." %}</p>
          {% endif %}
    </div>
{% endblock %}
{% block bottom_js %}
{{ block.super }}
<script>
function delete_from_cart(app_label, model, id) {
    $("#cart").delete_from_cart({
        "app_label":app_label,
        "model":model,
        "id":id
    });
};
</script>
{% endblock %}
