{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load main_widgets %}
{% load widget_tweaks %}

{% block left_menu %}
{% endblock %}
{% block content %}
<div class="span12">

<div class="accordion" id="accordion2">
    {% if not user.is_authenticated %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <h3>Step 1: Checkout Options</h3>
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span6 no_margin_left">
                    <h4>New Customer</h4>
                    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>

                    <form class="" />
                        <fieldset>
                            <input type="radio" value="option1" name="optionsCheckboxList1" /> Register Account <br />
                            <input type="radio" value="option2" name="optionsCheckboxList1" /> Guest Checkout <br /><br /><br /><br /><br />
                            <a class="btn btn-primary pull-right" href="#collapse2" data-toggle="collapse" data-parent="#collapse2">Continue</a>

                        </fieldset>
                    </form>
                </div>
                <div class="span5">
                    <h4>Registered Customers</h4>
                    <p>If you have an account with us, please log in.</p>
                    <form method="POST" action="" />{% csrf_token %}
                        <fieldset>
                            {% for field in auth_form %}
                            <div class="control-group {% if field.errors %}error{% endif %}">
                                <label class="control-label">
                                    {{ field.label }}
                                    {% if field.errors %}
                                    (
                                    {% for error in field.errors %}
                                        <strong>{{ error|escape }}</strong>
                                    {% endfor %}
                                    )
                                    {% endif %}
                                </label>
                                <div class="controls">
                                {{ field|add_class:'input-xlarge' }}
                                </div>
                            </div>
                            {% endfor %}
                            <button class="btn btn-primary pull-right" name="auth_form" value="auth_form" type="submit">{% trans "Войти" %}</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <form method="POST" action="" />{% csrf_token %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                <h3>Step {% if not user.is_authenticated %}2{% else %}1{% endif %}: Billing Details</h3>
            </a>
        </div>
        <div id="collapse2" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="span6 no_margin_left">
                <legend>{% trans "Your Personal Details" %}</legend>
                    <div class="control-group {% if order_form.first_name.errors %}error{% endif %}">
                        <label class="control-label">{{ order_form.first_name.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ order_form.first_name|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if order_form.last_name.errors %}error{% endif %}">
                        <label class="control-label">{{ order_form.last_name.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ order_form.last_name|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if order_form.email.errors %}error{% endif %}">
                        <label class="control-label">{{ order_form.email.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ order_form.email|add_class:'span4' }}
                        </div>
                    </div>

                    <div class="control-group {% if order_form.phone.errors %}error{% endif %}">
                        <label class="control-label">{{ order_form.phone.label }}</label>
                        <div class="controls docs-input-sizes">
                            {{ order_form.phone|add_class:'span4' }}
                        </div>
                    </div>
            </div>
            <div class="span5">
                <legend>{% trans "Your Address" %}</legend>
                <div class="control-group {% if order_form.address1.errors %}error{% endif %}">
                    <label class="control-label">{{ order_form.address1.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ order_form.address1|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if order_form.address2.errors %}error{% endif %}">
                    <label class="control-label">{{ order_form.address2.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ order_form.address2|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if order_form.country.errors %}error{% endif %}">
                    <label class="control-label">{{ order_form.country.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ order_form.country|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if order_form.city.errors %}error{% endif %}">
                    <label class="control-label">{{ order_form.city.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ order_form.city|add_class:'span4' }}
                    </div>
                </div>
                <div class="control-group {% if order_form.zip_address.errors %}error{% endif %}">
                    <label class="control-label">{{ order_form.zip_address.label }}</label>
                    <div class="controls docs-input-sizes">
                        {{ order_form.zip_address|add_class:'span4' }}
                    </div>
                </div>
            </div>

            <div class="span11 no_margin_left">
                <br />
                <a class="btn btn-primary pull-right" href="#collapse3">Continue</a><br /><br /><br />
            </div>
        </div>
    </div>
    </div>



    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                <h3>Step {% if not user.is_authenticated %}3{% else %}2{% endif %}: Delivery Details</h3>
            </a>
        </div>
        <div id="collapse3" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="span6 no_margin_left">
                    <legend>{{ order_form.delivery.label }}</legend>
                    <div class="control-group {% if order_form.delivery.errors %}error{% endif %}">
                        <label class="control-label"></label>
                        <div class="controls docs-input-sizes">
                            {% for radio in order_form.delivery %}
                                <p class="span4">{{ radio.tag }} <span>{{ radio.choice_label }}</span></p>
                              {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <legend>{% trans "Информация" %}</legend>
                    <p>{% chunk "DeliveryInformation" %}</p>
                </div>
                <div class="span11 no_margin_left">
                    <br />
                    <a class="btn btn-primary pull-right" href="#collapse3">Continue</a>
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                <h3>Step {% if not user.is_authenticated %}4{% else %}3{% endif %}: Payment Method</h3>
            </a>
        </div>
        <div id="collapse4" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="span6 no_margin_left">
                    <legend>{{ order_form.payment.label }}</legend>
                    <div class="control-group {% if order_form.payment.errors %}error{% endif %}">
                        <label class="control-label"></label>
                        <div class="controls docs-input-sizes">
                            {% for radio in order_form.payment %}
                                <p class="span4">{{ radio.tag }} <span>{{ radio.choice_label }}</span></p>
                              {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <legend>{% trans "Информация" %}</legend>
                    <p>{% chunk "PaymantInformation" %}</p>
                </div>
                <div class="span11 no_margin_left">
                    <br />
                    <button class="btn btn-primary pull-right" name="order_form" value="order_form" type="submit">{% trans "Заказать" %}</button>
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</div>


{% endblock %}
